@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Open+Sans');

@mixin font-mont {
  font-family: 'Montserrat', sans-serif;
}
@mixin font-lora {
  font-family: 'Lora', serif;
}
@mixin font-open {
  font-family: 'Open Sans', sans-serif;
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin grayscale($perc) {
  -webkit-filter: grayscale($perc); /* Safari 6.0 - 9.0 */
  filter: grayscale($perc);
}
@mixin border-radius($border) {
  -webkit-border-radius:$border;
  -moz-border-radius:$border;
  border-radius:$border;
}
@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

.italic {
  font-style:italic;
}

section {
  display:block;
  margin:0 0 8em 0;
  padding:0 8%;

  &.header {
    margin:0 0 5em 0;

    .avatar {

      img {
        @include transition(1900ms all ease);
        @include grayscale(100%);
        @include border-radius(20px);
        margin:1em auto;
        width:200px;
        display:block;

        &:hover {
          @include transition(1900ms all ease);
          @include grayscale(0%);
        }
      }
    }

    .downloads {
      list-style-type:none;
      text-align:center;
      margin:0;
      padding:0;

      li {
        margin:0;
        display:block;
        height:40px;

        a {
          @include transition(500ms all ease);
          @include border-radius(5px);
          border:1px solid #ccc;
          padding:0.5em 0.8em;
          text-align:center;
          color:black;
          text-decoration:none;

          &:hover {
            @include transition(500ms all ease);
            background:#F3F3F3;
            color:#333;
          }
        }

        &:last-of-type {
          margin:0;
        }
      }
    }
  }

  &.headline {

    h2 {
      @include font-mont;
      font-size:2.5em;
      line-height:1.1;
      text-align:center;
      margin:0 0 3em 0;
      font-weight:100;

      @include bp-small {
        font-size:1.5em;
      }
    }
  }

  &.content {

    h2 {
      @include font-lora;
      font-size:1.7em;
      font-weight:400;
      margin:1em 0;
      color:#505050;

      @include bp-small {
        text-align:center;
        font-size:1.3em;
      }
    }

    p {
      @include font-open;
      font-size:0.9em;
      line-height:2;
      color:#333;

      @include bp-small {
        text-align:justify;
      }

      a {
        color:black;
        text-decoration:underline;
      }
    }

    .main {
      vertical-align:top;
      width:58%;

      @include bp-small {
        width:100%;
      }
    }

    .image {
      vertical-align:top;
      width:40%;

      @include bp-small {
        width:100%;
      }

      img {
        width:90%;
        display:block;
        margin:auto;
        height:auto;

        @include bp-small {
          width:100%;
        }
      }
    }

    .left {
      display:inline-block;
    }

    .right {
      display:inline-block;
    }
  }

  &.footer {
    margin:5em 0 0 0;

    p {
      @include font-open;
      padding:0;
      margin:0;
      text-align:center;
      font-size:0.8em;
      color:#333;
    }
  }
}